@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("/avenir-400.woff2") format("woff2");
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Roboto&display=swap');

body {
  font-family: "Roboto", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #373F49;
  background: rgb(244, 244, 244);
  margin: 0;
  font-size: 10px;
  a {
    color: currentColor;
    font-size: 1rem;
  }
  p{
    font-size: 1rem;
  }
  h1{
    font-size: 1.5rem;
    font-weight: 700;
  }
  h4 {
    font-size: 1rem;
  }
}

footer {
  display: flex;
  width: 100%; 
  height: 10vh;
  justify-content: center;
  p{
    width: 10%;
    margin: 0;
    text-align: center;
  }
}

img {
  display: block;
  width: 100%;
}


.wrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 5vmin 0;
}

