@font-face {
  font-family: "Avenir";
  font-style: normal;
  src: url("/Avenir.ttc") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Roboto&display=swap');

body {
  // font-family: "Roboto", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #373F49;
  background: rgb(244, 244, 244);
  margin: 0;
  font-size: 10px;
  a {
    color: currentColor;
    font-size: 1rem;
  }
  p{
    font-family: "Avenir", sans-serif;
    font-size: 1rem;
    font-weight: 400;
  }
  h1{
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
  }
  h4 {
    font-family: "Avenir", sans-serif;
    font-size: 1rem;
  }
  h6 {
    font-family: "Avenir", sans-serif;
    font-size: .75rem;
  }
}

footer {
  display: flex;
  width: 100%; 
  height: 10vh;
  justify-content: center;
  p{
    width: 10%;
    margin: 0;
    text-align: center;
  }
}

img {
  display: block;
  width: 100%;
}


.wrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 5vmin 0;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1440px) {
    main{
      width: 100vw;
      height: 90vh;
      display: grid;
      grid-template-columns: 1fr 3fr;
      margin-bottom: 10px;
      .deskNav {
        // border: solid green 1px;
        margin: auto;
        padding: 10%;
        display: flex; 
        align-items: center;
        height: 100vh;
        ul{
          .logo{
            padding-bottom: 10%;
          }
          margin: 10% auto;
          width: 100%;
          padding: 0;
          list-style: none;
          text-align: center;
          li{
              margin: 1% auto;
              text-decoration: none;
              font-family: 'Open Sans', sans-serif;
              font-size: 1.20em;
              a{
                  display: inline;
              }
          }
          #dropdown-basic{
              margin: 0 auto;
          }
          .dropdown.dropdownmenu{
              .btn-light {
                  background-color: rgba(0, 0, 0, 0);
                  border-color: rgba(0, 0, 0, 0);
              }
              .show{
                  li.list-of-years{
                      width: 30%;
                      text-align: center;
                      a {
                          margin: 0 auto;
                      }
                  }
              }
          }
        }
      }
      .deskNav + div {
        overflow: scroll;
        height: 90vh;
      }
    }
    footer{
      height: 5vh;
    }
}