.landingDesktop{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 3%;
    h1 {
        font-size: 1rem;
        margin: 0;
    }
    p {
        display: block;
        font-size: .75rem;
    }
    .navClass {
        // border: solid red 1px;
        padding: 10%;
        display: flex; 
        align-items: center;
        height: 100vh;
        ul{
            .logo{
                padding-bottom: 10%;
            }
            margin: 10% auto;
            width: 100%;
            padding: 0;
            list-style: none;
            text-align: center;
            li{
                margin: 1% auto;
                text-decoration: none;
                font-family: 'Open Sans', sans-serif;
                font-size: 1.20em;
                a{
                    display: inline;
                }
            }
            div > .btn-flat {
                color: #373F49 !important;
                background-color: none !important; 
                border-color: none !important;
            }
            #dropdown-basic{
                margin: 0 auto;
            }
            .dropdown.dropdownmenu{
                .btn-light {
                    background-color: rgba(0, 0, 0, 0);
                    border-color: rgba(0, 0, 0, 0);
                }
                .show{
                    li.list-of-years{
                        width: 30%;
                        text-align: center;
                        a {
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
    .my-masonry-grid {
        display: -webkit-box; /* Not needed if autoprefixing */
        display: -ms-flexbox; /* Not needed if autoprefixing */
        display: flex;
        margin-left: -20px; /* gutter size offset */
        width: auto;
    }
    .my-masonry-grid_column {
        padding-left: 30px; /* gutter size */
        background-clip: padding-box;
    }
}