.tabletDesktop{
    width: 100vw;
    // background-color: red;
    display: grid;
    grid-template-columns: 1fr 3fr;
    .deskNav {
        // border: solid red 1px;
        padding: 10%;
        display: flex; 
        align-items: center;
        height: 100vh;
        ul{
            .logo{
                padding-bottom: 10%;
            }
            margin: 10% auto;
            width: 100%;
            padding: 0;
            list-style: none;
            text-align: center;
            li{
                margin: 1% auto;
                text-decoration: none;
                font-family: 'Open Sans', sans-serif;
                font-size: 1.20em;
                a{
                    display: inline;
                }
            }
            div > .btn-flat {
                color: #373F49 !important;
                background-color: none !important; 
                border-color: none !important;
            }
            #dropdown-basic{
                margin: 0 auto;
            }
            .dropdown.dropdownmenu{
                .btn-light {
                    background-color: rgba(0, 0, 0, 0);
                    border-color: rgba(0, 0, 0, 0);
                }
                .show{
                    li.list-of-years{
                        width: 30%;
                        text-align: center;
                        a {
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
    section{
        height: 100vh;
    }
}