@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

.homepage{
    margin: 35% auto;
    padding: 10%;
    ul{
        margin: 10% auto;
        width: 100%;
        padding: 0;
        list-style: none;
        li{
            width: 20%;
            margin: 5% auto;
            text-decoration: none;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-size: 1.20em;
        }
    }
}