@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

.navbar-toggler{
    outline: none;
    border: none;
    box-shadow: none;
    border-color: transparent;
    &:active, &:before{
        outline: none;
        border: none;
    }
     &:focus{
        border: black
    }
}
.navbar-brand{
    width: 35%;
}

.navbar-nav{
    a{
        text-transform: uppercase;
        font-size: 1.125rem;
        font-family: 'Open Sans', sans-serif;
        margin: 3% auto;
    }
}

.navClass ul, li > a, button{
    font-size: .85rem !important;
    font-family: 'Open Sans', sans-serif;
    color: #373F49 !important;
    text-transform: uppercase;
}

.navClass button{

    &:hover{
        text-decoration: underline;
    }
}
.dropdown-menu{
    min-width: 8rem !important;
}