.workPostContainer{
    margin: 10px;
    height: 100%;
    h1 {
        font-family: Montserrat, sans-serif;
        text-transform: uppercase;
        font-size: 1.5rem;
    }

    p {
        margin: 15px 0;
    }
    div {
        margin-bottom: 5px;
    }
}
